<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Daily FotoKopi</title>
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/carousel.css" /> -->

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="">
            <span>
              Daily FotoKopi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <% if(islogin === true){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <%}
                else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <div style="padding-top: 100px;">
        <div class="container text-center my-3">
            <h2 class="font-weight-light">Pesanan <%=fotokopi[0].namapemesan %></h2>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>No</th>
                  <th>Nama Pemesan</th>
                  <th>Jenis layanan</th>
                  <th>no Antrian</th>
                  <th>status</th>
                  <th>Keterangan</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < pesanan.length; i++) { %>
                  <tr>
                      <td><%= i + 1 %></td>
                      <td><%= pesanan[i].namapemesan %></td>
                      <td><%= pesanan[i].layanan %></td>
                      <td><%= pesanan[i].noAntrian %></td>
                      <td><%= pesanan[i].status %></td>
                      <td>
                        <a class="btn btn-success edit" href="/trayek/edit/<%=pesanan[i]._id%>">Done</a>                       
                        <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../trayek/delete/<%=pesanan[i]._id%>">Delete</a>  
                      </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
        </div>
    </div>
    <!-- end slider section -->
  </div>


  <script src="javascripts/jquery-3.4.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->

  <!-- <script>
    $('#recipeCarousel').carousel({
    interval: 10000
    })

    $('.carousel .carousel-item').each(function(){
        var minPerSlide = 3;
        var next = $(this).next();
        if (!next.length) {
        next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
        
        for (var i=0;i<minPerSlide;i++) {
            next=next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            
            next.children(':first-child').clone().appendTo($(this));
        }
    });
  </script> -->

</body>

</html>