<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Daily FotoKopi</title>
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="">
            <span>
              Daily FotoKopi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <% if(islogin === true){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <%}
                else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="box">
              <div class="detail-box">                     
                    <h1>ORDER</h1>
                    <p style="display: none;"></p>
                    <form action="/order/store" method="POST">
                      <div class="form-group" id="combo-group">
                        <div class="text-left">
                            <input type="hidden" id="namafotokopi" name="namafotokopi" value="<%=fotokopi.namafotokopi %>">
                            <input type="hidden" id="noAntrian" name="noAntrian" value="<%= parseInt(pesanan.length) + 1 %>">
                            <h5>Nama Pemesan</h5>
                            <input
                              class="input"
                              type="text"
                              id="namapemesan"
                              placeholder="Nama Pemesan"
                              value=""
                              name="namapemesan"
                              required
                            />
                          <h5>pilih tipe pelayanan</h5>
                          <select  id="layanan" name="layanan" class="my-combo" data-btn-class="btn-success">
                            <% for(var i = 0; i < fotokopi.fasilitas.length; i++) { %>
                              <option><%= fotokopi.fasilitas[i] %></option>
                            <% } %>
                          </select>
                          <div style="padding-bottom: 10px;"></div>
                            <h5>Input File</h5>
                            <div class="custom-file-input-upload">
                              <input id="fileInput" type="file" name="Files" required />
                              <label class="label-upload" for="fileInput" id="fileInputLabel">Select Files</label>
                            </div>
                            <h5>Kirim Bukti Payment method</h5>
                            <p>development</p>
                            <!-- <input id="fileInputbukti" type="file" name="filesbuktipembayaran" required />
                            <label class="label-upload" for="fileInputbukti" id="fileInputLabelbukti">Select Files</label> -->

                            <input type="hidden" id="status" name="status" value="Belum dilakukan">
                          <button id="myButton" type="submit">Order</button>
                        </div>                        
                      </div>                           
                    </form>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="box">
                  <!-- <div class="img-box">
                    <img
                    src="data:fotokopi/<%=fotokopi.img.contentType%>;base64,
                    <%=fotokopi.img.data.toString('base64')%>"
                    />
                  </div> -->
                  <div class="detail-box">
                    <h5>
                      <!-- <%= fotokopi._id %> -->
                      <%= fotokopi.namafotokopi %>
                    </h5>
                    <p>
                      <%= fotokopi.whatsapp %>
                    </p>
                    <h5>
                      Fasilitas:
                    </h5>
                    <ul>
                      <% for(var i = 0; i < fotokopi.fasilitas.length; i++) { %>
                      <li><%= fotokopi.fasilitas[i] %></li>
                      <% } %>
                    </ul>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <script>


    document.getElementById("myButton").onclick = function () {
        this.style.backgroundColor = "red";
    };
    
    var fileInput = document.getElementById('fileInput');
    var fileInputbukti = document.getElementById('fileInput');
    var fileInputLabel = document.getElementById('fileInputLabel');
    var fileInputLabelbukti = document.getElementById('fileInputLabel');

    fileInput.addEventListener('change', function () {
        if (fileInput.files && fileInput.files.length > 0) {
            var fileName = '';
            if (fileInput.files.length === 1) {
                fileName = fileInput.files[0].name;
            } else {
                fileName = fileInput.files.length + ' files selected';
            }
            fileInputLabel.textContent = fileName;
        } else {
            fileInputLabel.textContent = 'Select Files';
        }
    });

    // fileInputbukti.addEventListener('change', function () {
    //     if (fileInputbukti.filesbuktipemabayaran && fileInputbukti.filespembayaran.length > 0) {
    //         var fileNamebukti = '';
    //         if (fileInputbukti.filesbuktipemabayaran.length === 1) {
    //             fileNamebukti = fileInputbukti.filesbuktipemabayaran[0].name;
    //         } else {
    //             fileNamebukti = fileInputbukti.filesbuktipemabayaran.length + ' files selected';
    //         }
    //         fileInputLabelbukti.textContent = fileNamebukti;
    //     } else {
    //         fileInputLabelbukti.textContent = 'Select Files';
    //     }
    // });

    const formElem = document.querySelector('form');
    formElem.addEventListener('submit', async (e) => {
        console.log("form submitting")
        e.preventDefault();
        await fetch('/order/store', {
            method: 'POST',
            body: new FormData(formElem),
        }).then(response => {
            document.querySelector('p').textContent = "Order Berhasil dibuat No Antrian ke <%= parseInt(pesanan.length) + 1 %>";
            document.getElementById("myButton").style.backgroundColor = "green"
            document.getElementById('fileInputLabel').textContent = "Select Files";
            document.querySelector('p').style.display = 'block';
            console.log(response);
        }).catch(error => {
            document.querySelector('p').textContent = "Was not uploaded" + error;
            document.querySelector('p').style.display = 'block';
            console.error(error);
        });
    });
  </script>

  <script src="javascripts/jquery-3.4.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>