<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Daily FotoKopi</title>
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="">
            <span>
              Daily FotoKopi
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <% if(islogin === true){ %>
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                <%}
                else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                <% } %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="img-box">
                      <!-- <img
                      src="data:fotokopi[1]/<%=fotokopi[1].img.contentType%>;base64,
                      <%=fotokopi[1].img.data.toString('base64')%>"
                      /> -->
                    </div>
                    <div class="detail-box">
                      <h5>
                        <%= fotokopi[1].namafotokopi %>
                      </h5>
                      <p>
                        <%= fotokopi[1].whatsapp %>
                      </p>
                      <h5>
                        Fasilitas:
                      </h5>
                      <ul>
                        <% for(var i = 0; i < fotokopi[1].fasilitas.length; i++) { %>
                        <li><%= fotokopi[1].fasilitas[i] %></li>
                        <% } %>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="detail-box">                     
                        <form name="test" action="#">
                            <div class="form-group" id="combo-group">
                                <div class="text-center">
                                <h5>pilih tipe pelayanan</h5>
                                <select id="combo" name="fruit" class="my-combo" data-btn-class="btn-success">
                                  <% for(var i = 0; i < fotokopi[1].fasilitas.length; i++) { %>
                                    <option><%= fotokopi[1].fasilitas[i] %></option>
                                    <% } %>
                                </select>
                                    <h5>Input File</h5>
                                    <p>Development</p>
                                    <div class="row">
                                        <div class="col">
                                            <h5>Kirim Bukti Payment method</h5>
                                            <p>Developement</p>
                                        </div>
                                        <div class="col">
                                            <h5>No Antrian</h5>
                                            <H1>9</H1>
                                        </div>
                                    </div>

                                </div>
                                
                              </div>
                              
                          </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <script src="javascripts/jquery-3.4.1.min.js"></script>
  <script src="javascripts/bootstrap.js"></script>
  <script src="javascripts/bootstrap.bundle.min.js"></script>

</body>

</html>